@import '../../../assets/styles/utilities/tools.scss';

.header {
    background: $black;
    display: flex;
    align-items: center;
    height: rem(60);
    padding: rem(0 16);
    color: white;

    & > * {
        flex: 1;
    }

    &__center {
        text-align: center;
    }

    &__right {
        text-align: right;
    }
}