<form
  (ngSubmit)="connect(_form)" 
  [formGroup]="form" 
  #_form="ngForm"
  novalidate
  autocomplete="off">

    <div class="vr-3">
      <ul class="h-list h-list--tight">
        <li>
          <button 
            type="button" 
            class="btn btn--inverse btn--xsm" 
            (click)="switchConnectionType('standard')"
            [class.is-active]="connectionType == 'standard'">
            Standard
          </button>
        </li>
        <li>
          <button 
            type="button" 
            class="btn btn--inverse btn--xsm" 
            (click)="switchConnectionType('socket')"
            [class.is-active]="connectionType == 'socket'">
            Socket
          </button>
        </li>
      </ul>
    </div>

    <div [hidden]="connectionType != 'standard'" class="input" [class.input--has-error]="form.get('host').errors && _form.submitted">
      <label for="host">Host <span class="txt-red">*</span></label>
      <input type="text" id="host" class="input" formControlName="host">
      <small></small>
    </div>
    <div class="input" [class.input--has-error]="form.get('user').errors && _form.submitted">
      <label for="username">Username <span class="txt-red">*</span></label>
      <input type="text" id="host" class="username" formControlName="user">
    </div>
    <div class="input" [class.input--has-error]="form.get('password').errors && _form.submitted">
      <label for="password">Password <span class="txt-red">*</span></label>
      <input type="text" id="password" class="input" formControlName="password">
    </div>
    <div [hidden]="connectionType != 'standard'" class="input" [class.input--has-error]="form.get('port').errors && _form.submitted">
      <label for="port">Port <span class="txt-red">*</span></label>
      <input type="text" id="port" class="input" formControlName="port" placeholder="3306">
      <small></small>
    </div>
    <div [hidden]="connectionType == 'standard'" class="input" [class.input--has-error]="form.get('socketPath').errors && _form.submitted">
      <label for="socket">Socket <span class="txt-red">*</span></label>
      <input type="text" id="socket" class="input" formControlName="socketPath">
    </div>
    <div class="input" [class.input--has-error]="form.get('database').errors && _form.submitted">
      <label for="database">Database <span class="txt-red">*</span></label>
      <input type="text" id="database" class="input" formControlName="database">
    </div>

    <button type="submit" class="btn">Connect</button>
</form>