@import '../assets/styles/sass-utilities/tools.scss';

.dashboard {
  display: flex;
  height: calc(100vh - 60px);

  & > * {
    min-height: calc(100vh - 60px);
  }

  & > * + * {
    border-left: rem(1) solid darken($gray-5, 2%);
  }

  &__menu {
    background: $gray-6;
    font-size: rem(14);
    width: rem(250);
    padding: rem(16);
    overflow: auto;
  }

  &__results {
    padding: rem(16);
  }

  &__editor,
  &__results {
    flex: 1;
  }

  &__editor__controls {
    height: rem(40);
    border-bottom: rem(1) solid darken($gray-5, 2%);
  }

  &__editor__textarea {
    font-family: 'Courier New', Courier, monospace;
    padding: rem(16);
    min-height: calc(100% - 100px);
    outline: 0;
    border: 0;
  }
}