<app-header>
  <ng-container header-left>
    <app-logo></app-logo>
  </ng-container>
  <ng-container header-center>
      <app-connection-status></app-connection-status>
  </ng-container>
  <ng-container header-right>
    <button class="btn btn--xsm" (click)="createNewConnection()">New Connection</button>
  </ng-container>
</app-header>

<div class="dashboard">
  <div class="dashboard__menu">
    <app-db-table-list></app-db-table-list>
  </div>
  <div class="dashboard__editor">
    <div class="dashboard__editor__controls">
      <ul class="h-list h-list--tight">
        <li>
          <button class="btn btn--xsm btn--hollow">Clear</button>
        </li>
        <li>
          <button class="btn btn--xsm btn--hollow">Run</button>
        </li>
      </ul>
    </div>
    <textarea class="dashboard__editor__textarea" placeholder="Type query here..."></textarea>
    <div class="dashboard__results">
      
    </div>
  </div>
</div>