<app-header>
  <ng-container header-left>
    <app-logo></app-logo>
  </ng-container>
  <ng-container header-center>
      <app-connection-status></app-connection-status>
  </ng-container>
  <ng-container header-right>
    <button class="btn btn--xsm" (click)="showCreateConnectionModal()">New Connection</button>
  </ng-container>
</app-header>

<div class="dashboard">
  <div class="dashboard__left">
    <app-db-table-list></app-db-table-list>
  </div>
  <div class="dashboard__right">
    <app-query-editor></app-query-editor>
  </div>
</div>

<app-modal 
  *ngIf="showAddConnectionModal"
  (close)="hideCreateConnectionModal()">
  <ng-container modal-header>
    <span class="txt-16 txt-20@medium">Add New Connection</span>
  </ng-container>
  <ng-container modal-body>
    <div class="padding-16">
      Modal body
    </div>
  </ng-container>
</app-modal>