@import '../assets/styles/sass-utilities/tools.scss';

.dashboard {
  display: flex;
  height: calc(100vh - 60px);

  & > * {
    height: calc(100vh - 60px);
  }

  &__left {
    background: $gray-6;
    font-size: rem(14);
    width: rem(250);
    padding: rem(16);
    overflow: auto;
    border-right: rem(1) solid darken($gray-5, 2%);
  }

  &__right {
    flex: 1;
  }
}