<div class="query-editor">
  <div class="query-editor__controls">
    <ul class="h-list h-list--tight">
      <li>
        <button 
          class="btn btn--xsm btn--hollow" 
          (click)="clearQuery()">
          Clear
        </button>
      </li>
      <li>
        <button 
          class="btn btn--xsm btn--hollow" 
          (click)="runQuery()">
          Run
        </button>
      </li>
    </ul>
  </div>
  <div class="query-editor__field">
    <ngx-monaco-editor 
      class="sql-code-editor" 
      [options]="editorOptions" 
      [(ngModel)]="query">
    </ngx-monaco-editor>
  </div>
  <div class="query-editor__results">
    
  </div>
</div>