.padding-8 {
    padding: rem(8);
}

.padding-16 {
    padding: rem(16);
}

.padding-24 {
    padding: rem(24);
}

.padding-32 {
    padding: rem(32);
}

.padding-40 {
    padding: rem(40);
}

.padding-48 {
    padding: rem(48);
}

.padding-left-8 {
    padding-left: rem(8);
}