// Text sizes

.txt-12\@medium {
    font-size: rem(12);
}

.txt-14\@medium  {
    font-size: rem(14);
}

.txt-16\@medium  {
    font-size: rem(16);
}

.txt-20\@medium  {
    font-size: rem(20);
}

.txt-24\@medium  {
    font-size: rem(24);
}

.txt-28\@medium  {
    font-size: rem(28);
}

.txt-32\@medium  {
    font-size: rem(32);
}

.txt-36\@medium  {
    font-size: rem(36);
}

.txt-40\@medium  {
    font-size: rem(40);
}

.txt-44\@medium  {
    font-size: rem(44);
}

.txt-48\@medium  {
    font-size: rem(48);
}