// Text sizes

.txt-12 {
    font-size: rem(12);
}

.txt-14 {
    font-size: rem(14);
}

.txt-16 {
    font-size: rem(16);
}

.txt-20 {
    font-size: rem(20);
}

.txt-24 {
    font-size: rem(24);
}

.txt-28 {
    font-size: rem(28);
}

.txt-32 {
    font-size: rem(32);
}

.txt-36 {
    font-size: rem(36);
}

.txt-40 {
    font-size: rem(40);
}

.txt-44 {
    font-size: rem(44);
}

.txt-48 {
    font-size: rem(48);
}

// Text weights

.txt-normal {
    font-weight: 400;
}

.txt-medium {
    font-weight: 600;
}

.txt-bold {
    font-weight: 800;
}

// Text styles

.txt-no-decoration {
    text-decoration: none;
}

// Text alignment

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

// Text colors

.txt-white {
    color: $white;
}

.txt-red {
    color: $red;
}

.txt-green {
    color: $green-1;
}

.txt-blue {
    color: $blue-1;
}