.vr {
    margin-bottom: rem(8);
}

.vr-2 {
    margin-bottom: rem(16);
}

.vr-3 {
    margin-bottom: rem(24);
}

.vr-4 {
    margin-bottom: rem(32);
}

.vr-5 {
    margin-bottom: rem(40);
}

.vr-6 {
    margin-bottom: rem(48);
}

.vr-7 {
    margin-bottom: rem(56);
}

.vr-top {
    margin-top: rem(8);
}

.vr-2-top {
    margin-top: rem(16);
}

.vr-3-top {
    margin-top: rem(24);
}

.vr-4-top {
    margin-top: rem(32);
}

.vr-5-top {
    margin-top: rem(40);
}

.vr-6-top {
    margin-top: rem(48);
}

.vr-7-top {
    margin-top: rem(56);
}